body.dark {
  background-color: $dark-background-color;

  #header {
    .title {
      color: $dark-header-title;
    }
    .theme-switch {
      background-color: $dark-theme-switch-bg;
      .theme-icon {
        fill: $dark-theme-switch-icon;
      }
    }
    .theme-switch:hover {
      background-color: $dark-theme-switch-bg-hov;
      .theme-icon {
        fill: $dark-text-hov;
      }
    }
  }

  #bio {
    p {
      color: $dark-text-hov;
    }
    a {
      color: $dark-text-point;
    }

    .social-icon {
      fill: $dark-socials-icon;
    }
    .social-icon:hover {
      fill: $dark-socials-icon-hov;
    }
    .social-icon:disable {
      fill: $dark-socials-icon-dis;
    }
  }
}
