body.dark {
  background-color: $dark-background-color;

  #header {
    .title {
      color: $dark-header-title;
    }
    .theme-switch {
      background-color: $dark-theme-switch-bg;
      .theme-icon {
        fill: $dark-theme-switch-icon;
      }
    }
    .theme-switch:hover {
      background-color: $dark-theme-switch-bg-hov;
      .theme-icon {
        fill: $dark-text-hov;
      }
    }
    a {
      color: $dark-post-text-hov;
    }
    a:hover,
    a:link,
    a:visited {
      text-decoration: none;
    }
  }

  #bio {
    p {
      color: $dark-text-hov;
    }
    a {
      color: $dark-text-point;
    }

    .social-icon {
      fill: $dark-socials-icon;
    }
    .social-icon:hover {
      fill: $dark-socials-icon-hov;
    }
    .social-icon:disable {
      fill: $dark-socials-icon-dis;
    }
  }

  #category {
    .main-category {
      .main-item {
        color: $dark-main-category-text;
        background-color: $dark-main-category-text-box;
      }
      .main-item:hover {
        color: $dark-main-category-text-hov;
      }
      .main-item.main-category-active {
        color: $dark-main-category-text-hov;
        background-color: $dark-main-category-text-box-active;
      }
    }

    .sub-category {
      border-top: 1px solid $dark-sub-category-line;
      border-bottom: 1px solid $dark-sub-category-line;
      .sub-item {
        color: $dark-sub-category-text;
        background-color: $dark-sub-category-text-box;
      }
      .sub-item:hover {
        color: $dark-sub-category-text-hov;
      }
      .sub-item.sub-category-active {
        color: $dark-sub-category-text-hov;
        background-color: $dark-sub-category-text-box-active;
      }
      .swiper-pagination-bullet {
        background-color: $dark-pagination-bullets;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background-color: $dark-pagination-bullets-active;
      }
    }
  }

  #contents {
    .post {
      color: $dark-post-text;
    }
    .post:hover {
      color: $dark-post-text-hov;
      background-color: $dark-post-box-hov;
      text-decoration: none;
    }
    .post:link,
    .post:visited {
      text-decoration: none;
    }
  }

  #footer {
    color: $dark-post-text;
    a {
      color: $dark-post-text;
    }
    a:hover {
      color: $dark-post-text-hov;
      text-decoration: none;
    }
    a:link,
    a:visited {
      text-decoration: none;
    }
  }
}
