body.dark {
  background-color: $dark-background-color;

  #header {
    .title {
      a {
        color: $dark-text;
      }
    }
    .theme-switch {
      background-color: $transparent;
      .theme-icon {
        fill: $dark-theme-icon;
      }
      &:hover {
        background-color: $dark-text-box;
        .theme-icon {
          fill: $dark-text;
        }
      }
    }
  }

  #bio {
    p {
      color: $dark-text;
    }
    a {
      color: $dark-point-color;
    }

    .social-icon {
      fill: $dark-social-icon;
      &:hover {
        fill: $dark-social-icon-hov;
      }
      &:disable {
        fill: $dark-social-icon-inactive;
      }
    }
  }

  #category {
    .categories {
      .category {
        color: $dark-text-inactive;
        background-color: $transparent;
        &:hover {
          color: $dark-text;
        }
        &.category-active {
          color: $dark-text;
          background-color: $dark-text-box;
        }
      }
    }

    .tags {
      border-top: 1px solid scale-color($dark-point-color, $alpha: -80%);
      border-bottom: 1px solid scale-color($dark-point-color, $alpha: -80%);
      .tag {
        color: $dark-point-color-inactive;
        background-color: $transparent;
        &:hover {
          color: $dark-point-color;
        }
        &.tag-active {
          color: $dark-point-color;
          background-color: $dark-point-box;
        }
      }
      .swiper-pagination-bullet {
        background-color: scale-color($dark-point-color, $alpha: -50%);
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background-color: $dark-point-color-inactive;
      }
    }
  }

  #contents {
    .post-title a,
    .post-spoiler,
    .post-date {
      color: $dark-text;
    }
    .post-title:hover {
      a {
        border-bottom: 1px solid $dark-text;
      }
    }
    .tag-bullet {
      color: scale-color($dark-point-color, $alpha: -20%);
    }
    .post-tag {
      color: $dark-point-color;
      &:hover {
        border-bottom: 1px solid $dark-point-color;
      }
    }
  }

  #footer {
    color: $dark-text-inactive;
    a {
      color: $dark-text-inactive;
      &:hover {
        color: $dark-text;
      }
    }
  }

  #post {
    color: $dark-text;
    .post-main {
      @import "./dark-prismjs.scss";
      &:after {
        background-color: scale-color($dark-text, $alpha: -70%);
      }
    }
  }
}
