@import "./variables.scss";
@import "./light-theme.scss";
@import "./dark-theme.scss";

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
}

body {
  font: 1rem/1.75 "Roboto", "Noto Sans KR", sans-serif;
  -webkit-text-size-adjust: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-background-color;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, all 0.3s;
}

button {
  font: bold 1rem "Roboto", "Noto Sans KR", sans-serif;
  -webkit-text-size-adjust: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
}
