body.light {
  background-color: $light-background-color;

  #header {
    .title {
      color: $light-header-title;
    }
    .theme-switch {
      background-color: $light-theme-switch-bg;
      .theme-icon {
        fill: $light-theme-switch-icon;
      }
    }
    .theme-switch:hover {
      background-color: $light-theme-switch-bg-hov;
      .theme-icon {
        fill: $light-text-hov;
      }
    }
  }

  #bio {
    p {
      color: $light-text-hov;
    }
    a {
      color: $light-text-point;
    }

    .social-icon {
      fill: $light-socials-icon;
    }
    .social-icon:hover {
      fill: $light-socials-icon-hov;
    }
    .social-icon:disable {
      fill: $light-socials-icon-dis;
    }
  }

  #category {
    .main-category {
      .main-item {
        color: $light-main-category-text;
        background-color: $light-main-category-text-box;
      }
      .main-item:hover {
        color: $light-main-category-text-hov;
        background-color: $light-main-category-text-box-hov;
      }
    }
  }
}
