body.light {
  background-color: $light-background-color;

  #header {
    .title {
      color: $light-header-title;
    }
    .theme-switch {
      background-color: $light-theme-switch-bg;
      .theme-icon {
        fill: $light-theme-switch-icon;
      }
    }
    .theme-switch:hover {
      background-color: $light-theme-switch-bg-hov;
      .theme-icon {
        fill: $light-text-hov;
      }
    }
    a {
      color: $light-post-text-hov;
    }
    a:hover,
    a:link,
    a:visited {
      text-decoration: none;
    }
  }

  #bio {
    p {
      color: $light-text-hov;
    }
    a {
      color: $light-text-point;
    }

    .social-icon {
      fill: $light-socials-icon;
    }
    .social-icon:hover {
      fill: $light-socials-icon-hov;
    }
    .social-icon:disable {
      fill: $light-socials-icon-dis;
    }
  }

  #category {
    .categories {
      .category {
        color: $light-category-text;
        background-color: $light-category-text-box;
      }
      .category:hover {
        color: $light-category-text-hov;
      }
      .category.category-active {
        color: $light-category-text-hov;
        background-color: $light-category-text-box-active;
      }
    }

    .tags {
      border-top: 1px solid $light-tag-line;
      border-bottom: 1px solid $light-tag-line;
      .tag {
        // color: black;
        color: $light-tag-text;
        background-color: $light-tag-text-box;
      }
      .tag:hover {
        color: $light-tag-text-hov;
      }
      .tag.tag-active {
        color: $light-tag-text-hov;
        background-color: $light-tag-text-box-active;
      }
      .swiper-pagination-bullet {
        background-color: $light-pagination-bullets;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background-color: $light-pagination-bullets-active;
      }
    }
  }

  #contents {
    .post {
      &:hover {
        .post-title,
        .post-spoiler,
        .post-date {
          color: $light-post-text-hov;
        }
        .post-tag {
          color: $light-post-tag-hov;
        }
      }
    }
    .post-title,
    .post-spoiler,
    .post-date {
      color: $light-post-text;
    }
    .post-title:hover {
      border-bottom: 1px solid $light-post-text-hov;
    }
    .tag-bullet {
      color: $light-post-tag;
    }
    .post-tag {
      color: $light-post-tag;
      &:hover {
        border-bottom: 1px solid $light-post-tag-hov;
      }
    }
  }

  #footer {
    color: $light-post-text;
    a {
      color: $light-post-text;
    }
    a:hover {
      color: $light-post-text-hov;
      text-decoration: none;
    }
    a:link,
    a:visited {
      text-decoration: none;
    }
  }
}
