body.light {
  background-color: $light-background-color;

  #header {
    .title {
      color: $light-text;
    }
    .theme-switch {
      background-color: $transparent;
      .theme-icon {
        fill: $light-theme-icon;
      }
      &:hover {
        background-color: $light-text-box;
        .theme-icon {
          fill: $light-text;
        }
      }
    }
    a {
      color: $light-text;
      &:hover,
      &:link,
      &:visited {
        text-decoration: none;
      }
    }
  }

  #bio {
    p {
      color: $light-text;
    }
    a {
      color: $light-point-color;
    }

    .social-icon {
      fill: $light-social-icon;
      &:hover {
        fill: $light-social-icon-hov;
      }
      &:disable {
        fill: $light-social-icon-inactive;
      }
    }
  }

  #category {
    .categories {
      .category {
        color: $light-text-inactive;
        background-color: $transparent;
        &:hover {
          color: $light-text;
        }
        &.category-active {
          color: $light-text;
          background-color: $light-text-box;
        }
      }
    }

    .tags {
      border-top: 1px solid scale-color($light-point-color, $alpha: -80%);
      border-bottom: 1px solid scale-color($light-point-color, $alpha: -80%);
      .tag {
        color: $light-point-color-inactive;
        background-color: $transparent;
        &:hover {
          color: $light-point-color;
        }
        &.tag-active {
          color: $light-point-color;
          background-color: $light-point-box;
        }
      }
      .swiper-pagination-bullet {
        background-color: scale-color($light-point-color, $alpha: -50%);
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background-color: $light-point-color-inactive;
      }
    }
  }

  #contents {
    .post-title a,
    .post-spoiler,
    .post-date {
      color: $light-text;
    }
    .post-title:hover {
      a {
        border-bottom: 1px solid $light-text;
      }
    }
    .tag-bullet {
      color: scale-color($light-point-color, $alpha: -20%);
    }
    .post-tag {
      color: $light-point-color;
      &:hover {
        border-bottom: 1px solid $light-point-color;
      }
    }
  }

  #footer {
    color: $light-text-inactive;
    a {
      color: $light-text-inactive;
      &:hover {
        color: $light-text;
      }
    }
  }

  #post {
    color: $light-text;
  }
}
