/* global */
$transparent: transparent;

/* light theme */
$light-background-color: #f9f9f9;

$light-text: #2d364a;
$light-text-inactive: scale-color($light-text, $alpha: -20%);
$light-text-box: scale-color($light-text, $alpha: -90%);

// $light-point-color: #094577;
$light-point-color: #0a4d9b;
$light-point-color-inactive: scale-color($light-point-color, $alpha: -20%);
$light-point-box: scale-color($light-point-color, $alpha: -90%);

$light-theme-icon: scale-color($light-text, $alpha: -30%);
$light-theme-icon-hov: $light-text;

$light-social-icon: scale-color($light-text, $alpha: -60%);
$light-social-icon-hov: scale-color($light-text, $alpha: -20%);
$light-social-icon-inactive: scale-color($light-text, $alpha: -90%);

/* dark theme */
$dark-background-color: #242932;

$dark-text: #e3edff;
$dark-text-inactive: scale-color($dark-text, $alpha: -20%);
$dark-text-box: scale-color($dark-text, $alpha: -90%);
$dark-point-color: #8bc1fd;
$dark-point-color-inactive: scale-color($dark-point-color, $alpha: -20%);
$dark-point-box: scale-color($dark-point-color, $alpha: -90%);

$dark-theme-icon: scale-color($dark-text, $alpha: -30%);
$dark-theme-icon-hov: $dark-text;

$dark-social-icon: scale-color($dark-text, $alpha: -60%);
$dark-social-icon-hov: scale-color($dark-text, $alpha: -20%);
$dark-social-icon-inactive: scale-color($dark-text, $alpha: -90%);
