/* light theme */

// light theme colors
$light-background-color: #f9f9f9;
$light-box-hov: scale-color(#2d364a, $alpha: -90%);
$light-text: scale-color(#2d364a, $alpha: -20%);
$light-text-hov: #2d364a;
$light-text-point: #9f1d4b;

// header
$light-header-title: $light-text-hov;
$light-theme-switch-icon: $light-text;
$light-theme-switch-bg: $light-background-color;
$light-theme-switch-bg-hov: $light-box-hov;

// bio
$light-bio-text: $light-text-hov;
$light-bio-name: $light-text-point;

// main category
$light-main-category-text: scale-color($light-text-hov, $alpha: -35%);
$light-main-category-text-hov: $light-text-hov;
$light-main-category-text-box: $light-background-color;
$light-main-category-text-box-hov: $light-box-hov;

// sub category
$light-sub-category-text: scale-color($light-text-point, $alpha: -35%);
$light-sub-category-text-hov: $light-text-point;
$light-main-category-text-box: $light-background-color;
$light-sub-category-text-box-hov: scale-color($light-text-point, $alpha: -90%);

// post
$light-post-text: $light-text;
$light-post-text-hov: $light-text-hov;
$light-post-border-line-hov: scale-color(#000, $alpha: -84%);

// code
// footer
/* 나중에 */

/* ------------------------------------------------------------------------------------------------ */

/* dark theme */

// dark theme colors
$dark-background-color: #242932;
$dark-box-hov: scale-color(#e3edff, $alpha: -90%);
$dark-text: scale-color(#e3edff, $alpha: -20%);
$dark-text-hov: #e3edff;
$dark-text-point: #faa2c1;

// header
$dark-header-title: $dark-text-hov;
$dark-theme-switch-icon: $dark-text;
$dark-theme-switch-bg: $dark-background-color;
$dark-theme-switch-bg-hov: $dark-box-hov;

// bio
$dark-bio-text: $dark-text-hov;
$dark-bio-name: $dark-text-point;

// main category
$dark-main-category-text: scale-color($dark-text-hov, $alpha: -35%);
$dark-main-category-text-hov: $dark-text-hov;
$dark-main-category-text-box: $dark-background-color;
$dark-main-category-text-box-hov: $dark-box-hov;

// sub category
$dark-sub-category-text: scale-color($dark-text-point, $alpha: -35%);
$dark-sub-category-text-hov: $dark-text-point;
$dark-main-category-text-box: $dark-background-color;
$dark-sub-category-text-box-hov: scale-color($dark-text-point, $alpha: -90%);

// post
$dark-post-text: $dark-text;
$dark-post-text-hov: $dark-text-hov;
$dark-post-border-line-hov: scale-color(#fff, $alpha: -84%);

// code
// footer
/* 나중에 */
